<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
xmlns:gap = "http://phonegap.com/ns/1.0"
id = "org.readmobile.v1"
version = "1.2.2"
versionCode = "1">

    <name>What's in Blue</name>

    <description>
        When the Security Council approaches the final stage of negotiation of a draft resolution the text is printed in blue. What's In Blue is a series of insights produced by Security Council Report on evolving Security Council actions.
    </description>

    <author href="http://www.readmobile.org" email="dev@readmobile.org">
        Michael Murphy
	</author>
       
<access origin="*" />
<access origin="mailto:*" launch-external="yes"/>    
<allow-intent href="mailto:*" />
<plugin name="cordova-plugin-whitelist" version="1" />
<allow-navigation href="mailto:*" />

<plugin name="cordova-plugin-inappbrowser" spec="1.7.1" /> <!-- latest release -->
<plugin name="cordova-plugin-device" spec="1.1.4" /> 
<plugin name="cordova-plugin-dialogs" spec="1.3.0" /> 


    <!-- ICONS -->
        
	<icon src="icon.png" /> <!-- default 72 pixels -->
    
    <icon src="icon_40.png" gap:platform="ios" width="40" height="40" /> <!-- 40px -->
	<icon src="icon_57.png" gap:platform="ios" width="57" height="57" /> <!-- iPhone 3G, iPhone 3GS, iPod Touch 2G, 3G -->
	<icon src="icon_72.png" gap:platform="ios" width="72" height="72" /> <!-- iPad, iPad 2, iPad mini -->
	<icon src="icon_114.png" gap:platform="ios" width="114" height="114" /> <!-- iPhone 4, iPhone 4S, iPod Touch 4G -->
	<icon src="icon_144.png" gap:platform="ios" width="144" height="144" /> <!-- iPad 3, iPad 4 -->

	<icon src="icon_29.png" gap:platform="ios" width="29" height="29" /> <!-- iPhone Settings/Spotlight, iPad Settings --> 	
	<icon src="icon_48.png" gap:platform="ios" width="48" height="48" /> <!-- iPad Spotlight -->
	<icon src="icon_58.png" gap:platform="ios" width="58" height="58" /> <!-- iPhone 4 Settings/Spotlight -->
	<icon src="icon_96.png" gap:platform="ios" width="96" height="96" /> <!-- Retina iPad Spotlight -->
	<icon src="icon_64.png" gap:platform="ios" width="64" height="64" /> <!-- iPad document icon -->
	<icon src="icon_320.png" gap:platform="ios" width="320" height="320" /> <!-- iPad document icon -->
	<icon src="icon_640.png" gap:platform="ios" width="640" height="640" /> <!-- Retina iPad document icon -->
    <icon src="icon_1024.png" gap:platform="ios" width="640" height="1024" /> <!-- 1024px icon -->
	
	<icon src="icon_76.png" gap:platform="ios" width="76" height="76" /> <!-- iOS versions 7 plus -->
	<icon src="icon_120.png" gap:platform="ios" width="120" height="120" /> <!-- iOS versions 7 plus -->
	<icon src="icon_152.png" gap:platform="ios" width="152" height="152" /> <!-- iOS versions 7 plus -->
	
        
    <!-- SPLASH SCREENS -->
    
    <preference name="splash-screen-duration" value="20000" />
        
    <gap:splash src="splash.png" /> <!-- default 320x480 pixels -->
        
	<gap:splash src="splashIPad.png" gap:platform="ios" width="768" height="1024" /> <!-- iPad 1 and 2, iPad mini -->
	<gap:splash src="splashIPadb.png" gap:platform="ios" width="1024" height="768" /> <!-- iPad 1 and 2, iPad mini -->
	<gap:splash src="splashIPad2.png" gap:platform="ios" width="1536" height="2048" /> <!-- iPad 3 -->
	<gap:splash src="splashIPad2b.png" gap:platform="ios" width="2048" height="1536" /> <!-- iPad 3 -->    
	<gap:splash src="splashI3.png" gap:platform="ios" width="320" height="480" /> <!-- iPhone 3G and 3GS, iPod Touch 2 and 3 -->
	<gap:splash src="splashI4.png" gap:platform="ios" width="640" height="960" /> <!-- iPhone 4 and 4S, iPod Touch 4 -->
	<gap:splash src="splashI5.png" gap:platform="ios" width="640" height="1136" /> <!-- iPhone 5, iPod Touch 5 -->        
        
    <!-- GENERAL PREFERENCES -->
        
    <preference name="phonegap-version" value="cli-6.1.0" /> <!-- version of phonegap -->
    <preference name="orientation" value="default" /> <!-- support -->
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" /> <!-- no bar at top of Android and iOS -->
        
    <!-- iOS PREFERENCES -->
        
    <preference name="webviewbounce" value="false" /> <!-- bounce effect -->
    <preference name="prerendered-icon" value="true" /> <!-- no gloss effect -->
    <preference name="stay-in-webview" value="false" /> <!-- if set to true, all links (even with target set to blank) will open in the app's webview -->
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="exit-on-suspend" value="true" /> <!-- if set to false, app will continue to run on suspend -->
    <preference name="show-splash-screen-spinner" value="true" /> <!-- if set to false, the spinner won't appear on the splash screen during app loading -->
    <preference name="auto-hide-splash-screen" value="true" /> <!-- if set to false, the splash screen must be hidden using a JavaScript API -->
	<gap:config-file platform="ios" parent="ITSAppUsesNonExemptEncryption" mode="add">
  		<false/>
	</gap:config-file>
        
    <!-- ANDROID PREFERENCES -->
        
    <preference name="android-minSdkVersion" value="7" /> <!-- minimun Android 2.1 -->
    <!-- <preference name="android-maxSdkVersion" value="17" /> maximun Android 4.2 -->
    <preference name="android-installLocation" value="auto" />
        
    <!-- BLACKBERRY PREFERENCES -->
        
    <preference name="disable-cursor" value="false" />
        
    <!-- PHONEGAP API FEATURES PREFERENCES -->
        
    <preference name="permissions" value="none"/>
    
	<preference name="StatusBarOverlaysWebView" value="false" />
	<preference name="StatusBarBackgroundColor" value="#000000" />
	<preference name="StatusBarStyle" value="lightcontent" />
	<plugin spec="https://github.com/apache/cordova-plugin-statusbar.git#1bb2507" />

</widget>